@font-face {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Abril Fatface'), local('AbrilFatface-Regular'), url(https://fonts.gstatic.com/s/abrilfatface/v11/zOL64pLDlL1D99S8g8PtiKchq-dmiw.woff) format('woff');
}
@font-face {
    font-family: 'Barlow Condensed Medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Barlow Condensed Medium'), local('BarlowCondensed-Medium'), url(https://fonts.gstatic.com/s/barlowcondensed/v4/HTxwL3I-JCGChYJ8VI-L6OO_au7B4-Lwz3bWvw.woff) format('woff');
}
@font-face {
    font-family: 'Barlow Condensed Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Barlow Condensed Bold'), local('BarlowCondensed-Bold'), url(https://fonts.gstatic.com/s/barlowcondensed/v4/HTxwL3I-JCGChYJ8VI-L6OO_au7B46r2z3bWvw.woff) format('woff');
}
@font-face {
    font-family: 'Cormorant Garamond Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Cormorant Garamond Bold'), local('CormorantGaramond-Bold'), url(https://fonts.gstatic.com/s/cormorantgaramond/v7/co3YmX5slCNuHLi8bLeY9MK7whWMhyjQEl5fvg-O.woff) format('woff');
}
@font-face {
    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Do Hyeon Regular'), local('DoHyeon-Regular'), url(https://fonts.gstatic.com/s/dohyeon/v11/TwMN-I8CRRU2zM86HGE6bQE.woff) format('woff');
}
@font-face {
    font-family: 'Josefin Sans Light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Josefin Sans Light'), local('JosefinSans-Light'), url(https://fonts.gstatic.com/s/josefinsans/v14/Qw3FZQNVED7rKGKxtqIqX5Ecpl5te10n.woff) format('woff');
}
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url(https://fonts.gstatic.com/s/josefinsans/v14/Qw3aZQNVED7rKGKxtqIqX5EUDXx-.woff) format('woff');
}
@font-face {
    font-family: 'Josefin Sans SemiBold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Josefin Sans SemiBold'), local('JosefinSans-SemiBold'), url(https://fonts.gstatic.com/s/josefinsans/v14/Qw3FZQNVED7rKGKxtqIqX5Ec0lhte10n.woff) format('woff');
}
@font-face {
    font-family: 'Josefin Sans Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Josefin Sans Bold'), local('JosefinSans-Bold'), url(https://fonts.gstatic.com/s/josefinsans/v14/Qw3FZQNVED7rKGKxtqIqX5Ectllte10n.woff) format('woff');
}
@font-face {
    font-family: 'Mansalva';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Mansalva Regular'), local('Mansalva-Regular'), url(https://fonts.gstatic.com/s/mansalva/v1/aWB4m0aacbtDfvq5NKliKYk.woff) format('woff');
}
@font-face {
    font-family: 'Montserrat Light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3gnD-A.woff) format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WlhzQ.woff) format('woff');
}
@font-face {
    font-family: 'Montserrat Medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gnD-A.woff) format('woff');
}
@font-face {
    font-family: 'Montserrat Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD-A.woff) format('woff');
}
@font-face {
    font-family: 'Montserrat Black';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Montserrat Black'), local('Montserrat-Black'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_epG3gnD-A.woff) format('woff');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('NanumGothic'), url(https://fonts.gstatic.com/s/nanumgothic/v17/PN_3Rfi-oW3hYwmKDpxS7F_D89jY.woff) format('woff');
}
@font-face {
    font-family: 'Nanum Gothic Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('NanumGothic Bold'), local('NanumGothic-Bold'), url(https://fonts.gstatic.com/s/nanumgothic/v17/PN_oRfi-oW3hYwmKDpxS7F_LQv3Lw1sg.woff) format('woff');
}
@font-face {
    font-family: 'Nanum Gothic ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('NanumGothic ExtraBold'), local('NanumGothic-ExtraBold'), url(https://fonts.gstatic.com/s/nanumgothic/v17/PN_oRfi-oW3hYwmKDpxS7F_LXv7Lw1sg.woff) format('woff');
}
@font-face {
    font-family: 'Nanum Myeongjo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('NanumMyeongjo'), url(https://fonts.gstatic.com/s/nanummyeongjo/v15/9Btx3DZF0dXLMZlywRbVRNhxy2LmcnM.woff) format('woff');
}
@font-face {
    font-family: 'Nanum Myeongjo Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('NanumMyeongjo Bold'), local('NanumMyeongjoBold'), url(https://fonts.gstatic.com/s/nanummyeongjo/v15/9Bty3DZF0dXLMZlywRbVRNhxy2pXV2A5r_c.woff) format('woff');
}
@font-face {
    font-family: 'Nanum Myeongjo ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('NanumMyeongjo ExtraBold'), local('NanumMyeongjoExtraBold'), url(https://fonts.gstatic.com/s/nanummyeongjo/v15/9Bty3DZF0dXLMZlywRbVRNhxy2pLVGA5r_c.woff) format('woff');
}
@font-face {
    font-family: 'Nothing You Could Do';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Nothing You Could Do'), local('NothingYouCouldDo'), url(https://fonts.gstatic.com/s/nothingyoucoulddo/v9/oY1B8fbBpaP5OX3DtrRYf_Q2BPB1SnfZb3OOnV0.woff) format('woff');
}
@font-face {
    font-family: 'Noto Sans KR Light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Noto Sans KR Light'), local('NotoSansKR-Light'), url(https://fonts.gstatic.com/s/notosanskr/v12/Pby7FmXiEBPT4ITbgNA5CgmOelz45bIX.woff) format('woff');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'), url(https://fonts.gstatic.com/s/notosanskr/v12/PbykFmXiEBPT4ITbgNA5CgmG237r.woff) format('woff');
}
@font-face {
    font-family: 'Noto Sans KR Medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'), url(https://fonts.gstatic.com/s/notosanskr/v12/Pby7FmXiEBPT4ITbgNA5CgmOIl345bIX.woff) format('woff');
}
@font-face {
    font-family: 'Noto Sans KR Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'), url(https://fonts.gstatic.com/s/notosanskr/v12/Pby7FmXiEBPT4ITbgNA5CgmOalv45bIX.woff) format('woff');
}
@font-face {
    font-family: 'Noto Serif KR Light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Noto Serif KR Light'), local('NotoSerifKR-Light'), url(https://fonts.gstatic.com/s/notoserifkr/v6/3JnmSDn90Gmq2mr3blnHaTZXTkxBwOZTMw.woff) format('woff');
}
@font-face {
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Noto Serif KR'), local('NotoSerifKR-Regular'), url(https://fonts.gstatic.com/s/notoserifkr/v6/3Jn7SDn90Gmq2mr3blnHaTZXRu1j0w.woff) format('woff');
}
@font-face {
    font-family: 'Noto Serif KR Medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Noto Serif KR Medium'), local('NotoSerifKR-Medium'), url(https://fonts.gstatic.com/s/notoserifkr/v6/3JnmSDn90Gmq2mr3blnHaTZXThRAwOZTMw.woff) format('woff');
}
@font-face {
    font-family: 'Noto Serif KR SemiBold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Noto Serif KR SemiBold'), local('NotoSerifKR-SemiBold'), url(https://fonts.gstatic.com/s/notoserifkr/v6/3JnmSDn90Gmq2mr3blnHaTZXTjhHwOZTMw.woff) format('woff');
}
@font-face {
    font-family: 'Noto Serif KR Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Noto Serif KR Bold'), local('NotoSerifKR-Bold'), url(https://fonts.gstatic.com/s/notoserifkr/v6/3JnmSDn90Gmq2mr3blnHaTZXTlxGwOZTMw.woff) format('woff');
}
@font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Play Regular'), local('Play-Regular'), url(https://fonts.gstatic.com/s/play/v11/6aez4K2oVqwIvtU2GQ.woff) format('woff');
}
@font-face {
    font-family: 'Play Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Play Bold'), local('Play-Bold'), url(https://fonts.gstatic.com/s/play/v11/6ae84K2oVqwItm4TCpAy3A.woff) format('woff');
}
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url(https://fonts.gstatic.com/s/playfairdisplay/v18/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYhg.woff) format('woff');
}
@font-face {
    font-family: 'Playfair Display Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'), url(https://fonts.gstatic.com/s/playfairdisplay/v18/nuFlD-vYSZviVYUb_rj3ij__anPXBYf9lW4e4A.woff) format('woff');
}
@font-face {
    font-family: 'Playfair Display Black';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Playfair Display Black'), local('PlayfairDisplay-Black'), url(https://fonts.gstatic.com/s/playfairdisplay/v18/nuFlD-vYSZviVYUb_rj3ij__anPXBb__lW4e4A.woff) format('woff');
}
@font-face {
    font-family: 'Poppins ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local('Poppins ExtraLight'), local('Poppins-ExtraLight'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLFj_Z1xlEw.woff) format('woff');
}
@font-face {
    font-family: 'Poppins Light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLDz8Z1xlEw.woff) format('woff');
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
    font-family: 'Poppins Medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9Z1xlEw.woff) format('woff');
}
@font-face {
    font-family: 'Poppins Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
@font-face {
    font-family: 'Poppins Black';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Poppins Black'), local('Poppins-Black'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLBT5Z1xlEw.woff) format('woff');
}
@font-face {
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc-.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxM.woff) format('woff');
}
@font-face {
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc-.woff) format('woff');
}
@font-face {
    font-family: 'Roboto Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc-.woff) format('woff');
}
@font-face {
    font-family: 'Roboto Black';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfBBc-.woff) format('woff');
}
@font-face {
    font-family: 'Roboto Condensed Light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCQYaQ.woff) format('woff');
}
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7Cw.woff) format('woff');
}
@font-face {
    font-family: 'Roboto Condensed Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCQYaQ.woff) format('woff');
}
@font-face {
    font-family: 'Single Day';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Single Day Regular'), local('SingleDay-Regular'), url(https://fonts.gstatic.com/s/singleday/v1/LYjHdGDjlEgoAcF95EI5vVcPVw.woff) format('woff');
}
@font-face {
    font-family: 'Sunflower Light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Sunflower Light'), local('Sunflower-Light'), url(https://fonts.gstatic.com/s/sunflower/v9/RWmPoKeF8fUjqIj7Vc-06MfSpIEB.woff) format('woff');
}
@font-face {
    font-family: 'Sunflower';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Sunflower Medium'), local('Sunflower-Medium'), url(https://fonts.gstatic.com/s/sunflower/v9/RWmPoKeF8fUjqIj7Vc-0sMbSpIEB.woff) format('woff');
}
@font-face {
    font-family: 'Sunflower Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Sunflower Bold'), local('Sunflower-Bold'), url(https://fonts.gstatic.com/s/sunflower/v9/RWmPoKeF8fUjqIj7Vc-0-MDSpIEB.woff) format('woff');
}
@font-face {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Tenor Sans'), local('TenorSans'), url(https://fonts.gstatic.com/s/tenorsans/v11/bx6ANxqUneKx06UkIXISn3V4DA.woff) format('woff');
}
@font-face {
    font-family: 'Yeon Sung';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Yeon Sung Regular'), local('YeonSung-Regular'), url(https://fonts.gstatic.com/s/yeonsung/v8/QldMNTpbohAGtsJvUn6BRFld.woff) format('woff');
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareR.eot);
    src: url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareR.eot?#iefix) format('embedded-opentype'),
    url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareR.woff) format('woff'),
    url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareR.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumSquare Bold';
    font-weight: 700;
    src: url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareB.eot);
    src: url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareB.eot?#iefix) format('embedded-opentype'),
    url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareB.woff) format('woff'),
    url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareB.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumSquare ExtraBold';
    font-weight: 800;
    src: url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareEB.eot);
    src: url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
    url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareEB.woff) format('woff'),
    url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareEB.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumSquare Light';
    font-weight: 300;
    src: url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareL.eot);
    src: url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareL.eot?#iefix) format('embedded-opentype'),
    url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareL.woff) format('woff'),
    url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareL.ttf) format('truetype');
}